<header class="site-header">

<div class="wrapper">
   <!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->
   <a style= "width:220px" class="site-title" href="{{ site.baseurl }}/"><font color="blue">Miao's homepage</font></a>
   <a style = "width: 100px" class="site-title" href="{{ "/Deep-Learning/"|prepend:site.baseurl }}/"><font color="blue">Deep</font></a>
   <a style = "width: 120px" class="site-title" href="{{ "/Machine-Learning/"|prepend:site.baseurl }}/"><font color="blue">Machine</font></a>
   <a style = "width: 150px" class="site-title" href="{{ "/Application/"|prepend:site.baseurl }}/"><font color="blue">Application</font></a>
   <a style = "width: 100px" class="site-title" href="{{ "/Computer-Vision/"|prepend:site.baseurl }}/"><font color="blue">Vision</font></a>
</div>

  <script type="text/x-mathjax-config">
MathJax.Hub.Config({
                  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
                          });
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</header>

