<header class="site-header">

<div class="wrapper">
   <!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->
	  <a class="site-title" href="{{ site.baseurl }}/"><font color="blue">Miao's homepage</font></a>
</div>

  <script type="text/x-mathjax-config">
MathJax.Hub.Config({
                  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
                          });
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</header>

