<!DOCTYPE html>
<html>
   <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   </script>
   <script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>
   
  {% include head.html %}
 <body style="background-attachment: fixed;" background="/bg2.jpg" >
 <!--style="background-repeat:no-repeat; background-position: center;">-->
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
